<section class="container-fluid footer_section ">
    <p>
        &copy; 2023 All Rights Reserved. Design by
        <a href="https://www.linkedin.com/in/thenisharawat">Nisha Rawat</a>
    </p>
</section>