<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>
        <%= title %>
    </title>

    <% if (typeof notLogin !=='undefined' && notLogin) { %>
        <script>
            window.alert("<%= notLogin %>");
        </script>
        <% } %>

            <link rel="icon" type="image/x-icon" href="/images/logo.ico">

            <!-- bootstrap core css -->
            <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />

            <!-- fonts style -->
            <link href="https://fonts.googleapis.com/css?family=Open+Sans|Poppins:400,700&display=swap"
                rel="stylesheet">
            <!-- Custom styles for this template -->
            <link href="/css/style.css" rel="stylesheet" />
            <!-- responsive style -->
            <link href="/css/responsive.css" rel="stylesheet" />
</head>

<body class="sub_page">
    <div class="hero_area ">
        <!-- header section strats -->
        <header class="header_section">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg custom_nav-container">
                    <a class="navbar-brand" href="/">
                        <img src="/images/logo.png" alt="">
                    </a>
                    <div class="" id="">
                        <div class="User_option">
                            <form class="form-inline my-2  mb-3 mb-lg-0">
                                <input type="search" placeholder="Search">
                                <button class="btn   my-sm-0 nav_search-btn" type="submit"></button>
                            </form>
                        </div>

                        <div class="custom_menu-btn">
                            <button onclick="openNav()">
                                <span class="s-1">

                                </span>
                                <span class="s-2">

                                </span>
                                <span class="s-3">

                                </span>
                            </button>
                        </div>
                        <div id="myNav" class="overlay">
                            <div class="overlay-content">
                                <a href="/">Home</a>
                                <a href="/about">About</a>
                                <a href="/contact">Contact Us</a>
                                <a href="/user/register">Register</a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <!-- end header section -->
    </div>

    <!-- contact section -->

    <section class="contact_section layout_padding-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5 offset-md-1">
                    <div class="form_container">
                        <div class="heading_container">
                            <img src="/images/heading-img.png" alt="">
                            <h2>
                                Login here!
                            </h2>
                        </div>
                        <form action="/user/login" , method="POST">
                            <div>
                                <input type="email" name="email" placeholder="Email"  required />
                            </div>
                            <div>
                                <input type="password" name="password" placeholder="Password" required />
                            </div>
                            <p>Don't have an account? <a href="/user/register">Register here</a>
                            <div class="d-flex " style="margin-left: 4%;">
                                <button type="submit">
                                    Login
                                </button>
                            </div>
                        </form>
                        <div class="or-div">
                            <h4><span>Or</span></h4>
                        </div>
                        <div class="social-button">
                            <a href="/user/auth/google">
                                <button>
                                    <svg width="25" height="25" class="cp al">
                                        <g fill="none" fill-rule="evenodd">
                                            <path
                                                d="M20.66 12.7c0-.61-.05-1.19-.15-1.74H12.5v3.28h4.58a3.91 3.91 0 0 1-1.7 2.57v2.13h2.74a8.27 8.27 0 0 0 2.54-6.24z"
                                                fill="#4285F4"></path>
                                            <path
                                                d="M12.5 21a8.1 8.1 0 0 0 5.63-2.06l-2.75-2.13a5.1 5.1 0 0 1-2.88.8 5.06 5.06 0 0 1-4.76-3.5H4.9v2.2A8.5 8.5 0 0 0 12.5 21z"
                                                fill="#34A853"></path>
                                            <path
                                                d="M7.74 14.12a5.11 5.11 0 0 1 0-3.23v-2.2H4.9A8.49 8.49 0 0 0 4 12.5c0 1.37.33 2.67.9 3.82l2.84-2.2z"
                                                fill="#FBBC05"></path>
                                            <path
                                                d="M12.5 7.38a4.6 4.6 0 0 1 3.25 1.27l2.44-2.44A8.17 8.17 0 0 0 12.5 4a8.5 8.5 0 0 0-7.6 4.68l2.84 2.2a5.06 5.06 0 0 1 4.76-3.5z"
                                                fill="#EA4335"></path>
                                        </g>
                                    </svg>
                                    Sign In with Google</button>
                                </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 px-0">

                </div>
            </div>
        </div>
    </section>

    <!-- end contact section -->


    <!-- info section -->
    <section class="info_section ">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="info_contact">
                        <h5>
                            CONTACT INFO
                        </h5>
                        <div class="contact-footer">
                            <div>Email: <a href="mailto:rawatnisha@gmail.com">rawatnisha@gmail.com</a></div>

                        </div>
                        <div class="contact-footer">

                            <div>Phone: <a href="tel:+919630196629">+919630196629</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="info_time">
                        <h5>
                            Opening Hours Shop
                        </h5>
                        <div>
                            <p>
                                Monday to friday
                            </p>
                        </div>
                        <div>
                            <p>
                                07:00 am to 04:00 pm
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="info_social">
                        <h5>
                            social media
                        </h5>
                        <div class="social_container">
                            <div>
                                <a href="">
                                    <img src="/images/fb.png" alt="" />
                                </a>
                            </div>
                            <div>
                                <a href="">
                                    <img src="/images/twitter.png" alt="" />
                                </a>
                            </div>
                            <div>
                                <a href="">
                                    <img src="/images/linkedin.png" alt="" />
                                </a>
                            </div>
                            <div>
                                <a href="">
                                    <img src="/images/instagram.png" alt="" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="info_form pl-lg-4">
                        <h5>
                            Newsletter
                        </h5>
                        <form action="">
                            <input type="text" placeholder="Enter Your Email" />
                            <button type="submit">
                                Subscribe
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- footer -->


    <!-- end info_section -->


    <!-- footer section -->
    <section class="container-fluid footer_section ">
        <p>
            &copy; 2019 All Rights Reserved. Design by
            <a href="https://html.design/">Free Html Templates</a>
        </p>
    </section>
    <!-- end  footer section -->


    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script>
        function openNav() {
            document.getElementById("myNav").classList.toggle("menu_width")
            document.querySelector(".custom_menu-btn").classList.toggle("menu_btn-style")
        }
    </script>

</body>

</html>