<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>
        <%= title %>
    </title>

    <% if (typeof notRegister !=='undefined' && notRegister) { %>
        <script>
            window.alert("<%= notRegister %>");
        </script>
        <% } %>

            <link rel="icon" type="image/x-icon" href="/images/logo.ico">

            <!-- bootstrap core css -->
            <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />

            <!-- fonts style -->
            <link href="https://fonts.googleapis.com/css?family=Open+Sans|Poppins:400,700&display=swap"
                rel="stylesheet">
            <!-- Custom styles for this template -->
            <link href="/css/style.css" rel="stylesheet" />
            <!-- responsive style -->
            <link href="/css/responsive.css" rel="stylesheet" />
</head>

<body class="sub_page">
    <div class="hero_area ">
        <!-- header section strats -->
        <header class="header_section">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg custom_nav-container">
                    <a class="navbar-brand" href="/">
                        <img src="/images/logo.png" alt="">
                    </a>
                    <div class="" id="">
                        <div class="User_option">
                            <form class="form-inline my-2  mb-3 mb-lg-0">
                                <input type="search" placeholder="Search">
                                <button class="btn   my-sm-0 nav_search-btn" type="submit"></button>
                            </form>
                        </div>

                        <div class="custom_menu-btn">
                            <button onclick="openNav()">
                                <span class="s-1">

                                </span>
                                <span class="s-2">

                                </span>
                                <span class="s-3">

                                </span>
                            </button>
                        </div>
                        <div id="myNav" class="overlay">
                            <div class="overlay-content">
                                <a href="/">Home</a>
                                <a href="/about">About</a>
                                <a href="/contact">Contact Us</a>
                                <a href="/user/login">Login</a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <!-- end header section -->
    </div>

    <!-- contact section -->

    <section class="contact_section layout_padding-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5 offset-md-1">
                    <div class="form_container">
                        <div class="heading_container">
                            <img src="/images/heading-img.png" alt="">
                            <h2>
                                Register here!
                            </h2>
                            <p>
                                Be a part of drool family!
                            </p>
                        </div>
                        <form action="/user/register" , method="POST" enctype="multipart/form-data">
                            <div>
                                <input type="text" name="full_name" placeholder="Full Name" required />
                            </div>
                            <div>
                                <input type="text" name="mobile_number" placeholder="Phone number" required />
                            </div>
                            <div>
                                <input type="email" name="email" placeholder="Email" required />
                            </div>
                            <div>
                                <input type="password" name="password" placeholder="Password" required />
                            </div>
                            <div>
                                <span>(Optional)</span>
                                <input type="file" name="image" placeholder="File" />
                            </div>
                            <p>Already have an account? <a href="/user/login">Login here</a></p>
                            <div class="d-flex ">
                                <button type="submit">
                                    Register
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6 px-0">
                    <div class="map_container">

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end contact section -->


    <!-- info section -->
    <section class="info_section ">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="info_contact">
                        <h5>
                            CONTACT INFO
                        </h5>
                                             <div class="contact-footer">
                                                    <div>Email: <a href="mailto:example@example.com">example@example.com</a></div>
                                                                                                
                                                </div>
                                                <div class="contact-footer">
                                                
                                                    <div>Phone: <a href="tel:+1234567890">+1234567890</a></div>
                                                </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="info_time">
                        <h5>
                            Opening Hours Shop
                        </h5>
                        <div>
                            <p>
                                Monday to friday
                            </p>
                        </div>
                        <div>
                            <p>
                                07:00 am to 04:00 pm
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="info_social">
                        <h5>
                            social media
                        </h5>
                        <div class="social_container">
                            <div>
                                <a href="">
                                    <img src="/images/fb.png" alt="" />
                                </a>
                            </div>
                            <div>
                                <a href="">
                                    <img src="/images/twitter.png" alt="" />
                                </a>
                            </div>
                            <div>
                                <a href="">
                                    <img src="/images/linkedin.png" alt="" />
                                </a>
                            </div>
                            <div>
                                <a href="">
                                    <img src="/images/instagram.png" alt="" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="info_form pl-lg-4">
                        <h5>
                            Newsletter
                        </h5>
                        <form action="">
                            <input type="text" placeholder="Enter Your Email" />
                            <button type="submit">
                                Subscribe
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end info_section -->


    <!-- footer section -->
    <section class="container-fluid footer_section ">
        <p>
            &copy; 2019 All Rights Reserved. Design by
            <a href="https://html.design/">Free Html Templates</a>
        </p>
    </section>
    <!-- end  footer section -->


    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script>
        function openNav() {
            document.getElementById("myNav").classList.toggle("menu_width")
            document.querySelector(".custom_menu-btn").classList.toggle("menu_btn-style")
        }
    </script>

</body>

</html>